
/*element selector*/
li{
	border: 2px red solid;
}
/*id selector*/
#special{                      
	background: yellow;
}
/*class selector*/
.completed{
	text-decoration: line-through;
}
/*Star*/
*{
	border: 1px solid lightgrey;
}